/*---CUSTOM FONTS---*/

.body-title {
    font-family: 'geomanist-black';
    color: #490d67;
    font-size: 34pt;
    line-height: 90%;
    padding-top: 50px;
    margin-bottom: 40px;
}

.body-content {
    font-family: 'geomanist-regular';
    color: #645d67;
}

.cs-title {
    font-family: 'geomanist-black';
    line-height: 90%;
}

.slider-description {
    font-family: 'geomanist-regular';
    line-height: 120%;
    letter-spacing: 5pt;
    margin-top: 5%;
    margin-bottom: 3%;
}

.section-header {
    font-family: 'geomanist-bold';
}

.footer-box .widget_text .h4 {
    font-family: 'geomanist-medium';
}

.textwidget {
    font-family: 'geomanist-extralight';
}

#pre-footer .p {
    font-size: 11pt;
}

#media_image-3 {
    text-align: center;
}

/*---END---*/

/*---SLIDER BUTTONS + ARROWS---*/

/*---BUTTONS---*/

.nivo-controlNav a {
    border: 2px solid #490d67;
    background: #490d67
}

.nivo-controlNav a.active {
    border: 2px solid #490d67
}

/*---ARROWS---*/

.cs-arrows {
    color: #ffffff;
    background-color: #ffffff00;
}

.cs-arrows:hover {
    color: #ffffff;
    background-color: #490d6770;
}

.controlArrow.prev, .controlArrow.next {
    background-color: #490d6750;
}

.controlArrow.prev:hover, .controlArrow.next:hover {
    background-color: #490d67;
}

/*---FADE SLIDER CONTROLS---*/

.nivo-controlNav {
    transform: rotatez(90deg);
    left: 45%;
    bottom: 50%;
}

/*---END---*/

/*---CUSTOM CLASSES---*/

.parent {
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
}

.col-centered {
    display: inline-block;
    margin: 2% auto;
    height: 470px;
    position: relative;
}

.product-button {
    font-family: 'geomanist-medium';
    font-size: 8pt;
    line-height: 1.5;
    border: 1px solid;
    border-style: solid;
    border-radius: 0px;
    border-color: #645d67;
    color: #645d67;
    background-color: #ffffff00;
    width: 145px;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-bottom: 1px;
}

.recipe-button {
    font-family: 'geomanist-medium';
    font-size: 8pt;
    border: 1px solid;
    border-style: solid;
    border-radius: 0px;
    border-color: #645d67;
    color: #645d67;
    background-color: #ffffff00;
    width: 145px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.product-button:hover, .recipe-button:hover {
    color: #490d67 !important;
}

/*---END---*/

/*---HOME---*/

.page-id-20 #section-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.page-id-20 #content-container .section-boxed {
    margin: 0px auto;
}

.page-id-20 .section-boxed {
    max-width: 100% !important;
}

.home-buttons {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    text-align: center;
}

/*---HOME-SLIDER---*/

.page-id-20 .content-slider-wrapper {
    height: 835px;
}

.page-id-20 .content-slider {
    padding-top: 290px;
}

.page-id-20 #cs-slider-ul .button {
    border: 1px solid;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(255, 255, 255);
    padding-top: 18px;
    padding-bottom: 10px;
    height: 30px;
    font-family: 'geomanist-bold';
    letter-spacing: 2pt;
}

.page-id-20 #slider-content-5 .button {
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'geomanist-bold';
}

#part2-wrapper {
    margin-left: 9%;
    margin-right: 9%;
    min-height: 815px;
}

#part2-text {
    width: 19.8%;
    margin-top: 2%;
    margin-right: 5%;
}

#part2-pictures {
    width: 75%;
    height: auto;
    margin-top: 2.6%;
}

#video-button {
    margin-top: 20%;
}

#part3-wrapper {
    margin-left: 9%;
    margin-right: 9%;
    height: 900px;
}

#part3-pictures {
    width: 52.6%;
    height: 20%;
    margin-top: 4%;
}

#part3-text {
    width: 19%;
    margin-left: 15%;
}

#button3 {
    margin-top: 30%;
}

/*---END---*/

/*---STORY---*/

.page-id-8 #section-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
}

.page-id-8 #content-container .section-boxed {
    margin: 0px auto;
}

.page-id-8 .section-boxed {
    max-width: 100% !important;
}

.page-id-8 #part1 {
    margin-left: 6.6%;
    margin-right: 6.6%;
}

.page-id-8 #text1 {
    width: 25%;
    margin-left: 14%;
    margin-top: 4%;
}

.page-id-8 #part2 {
    min-height: 960px;
}

.page-id-8 #images {
    position: relative;
    width: 53.4%;
    margin-right: 0px;
}

.page-id-8 #image-1 {
    margin-left: 35%;
    margin-top: 0px;
    position: absolute;
    z-index: 3;
}

.page-id-8 #image-2 {
    position: absolute;
    z-index: 2;
    padding-top: 35%;
    margin: 0px auto;
}

.page-id-8 #thename {
    padding-top: 11.8%;
    width: 19%;
    margin-left: 6.6%;
    position: relative;
    z-index: 5;
}

.page-id-8 #pre-footer {
    background-color: #f1f1f1;
    height: auto;
    min-height: 375px;
    padding-top: 2%;
    text-align: center;
}

.page-id-8 #pre-footer .body-content {
    letter-spacing: 2px;
}

.page-id-8 #pre-footer-cols {
    padding-top: 1%;
    text-align: left;
    margin-left: 6.6%;
    margin-right: 6.6%;
}

.page-id-8 #mission {
    margin-left: 13%;
    width: 19%;
}

.page-id-8 #vision, #value {
    width: 19.2%;
    margin-left: 5.3%;
}

.page-id-8 #grey-bg {
    position: absolute;
    top: 585px;
    bottom: 0px;
    width: 100%;
    height: 435px;
    background-color: #f1f1f1;
    z-index: 1;
}

/*---STORY-SLIDER---*/

.page-id-8 #content-slider-8 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-id-8 .cs-content-left, .cs-content-right, .cs-content-centered {
    margin-top: 10%;
    margin-left: 6.5%;
}

/*---END---*/

/*---DISTRIBUTORS---*/

.page-id-13 #wpforms-511 {
    font-family: geomanist-light;
}

.page-id-13 #wpforms-511-field_0, #wpforms-511-field_1, #wpforms-511-field_2, #wpforms-511-field_4 {
    font-family: geomanist-light;
}

.page-id-13 #wpforms-511-field_2-container {
    padding-left: 10.5%;
    padding-right: 7.24%;
}

.page-id-13 #wpforms-511-field_1-container {
    padding-left: 10.5%;
    padding-right: 10.5%;
}

.page-id-13 #wpforms-511-field_0-container {
    padding-left: 10.5%;
}

.page-id-13 #wpforms-511-field_4-container {
    padding-right: 10.5%;
}

.page-id-13 #wpforms-submit-511 {
    margin-left: 81%;
    font-family: geomanist-bold;
    color: #ffffff;
    background-color: #490d67;

}

.page-id-13 #wpforms-confirmation-511 {
    color: #f1f1f1;
    background-color: #490d6770;
    border: 1px solid #490d67;
    font-family: geomanist-light;
    text-align: center;
}

/*---DISTRIB-SLIDER---*/

.page-id-13 #content-slider-13 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-id-13 .cs-content-left, .cs-content-right, .cs-content-centered {
    margin-top: 10%;
}

/*---END---*/

/*---ALL-PRODUCTS---*/

.page-id-2 .side-text {
    position: absolute;
    bottom: 20%;
}

.page-id-2 .description {
    font-family: geomanist-black;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 3.5px;
    font-size: 19pt;
}

.page-id-2 .parent {
    margin: 0;
}

.page-id-2 .col-centered {
    height: 400px;
}

.page-id-2 .cols-4 .col {
    width: 25%;
}

.page-id-2 .buttons {
    text-align: left;
}

/*---END---*/

/*---FOOTER---*/

#sfwa_footer, #sfwa_footer * {
    box-sizing: unset;
}

.footer-bottom {
    display: none;
}

#zoom-social-icons-widget-3 {
    margin-top: 35%;
}

#media_image-5 {
    text-align: center;
    margin-top: 25%;
}

.footer-send-email:hover {
    color:white;
}

/*---END---*/

/*---ACERTOS OVERFLOW---*/

/*---PRODUCTS---*/

.page-id-107, .page-id-109, .page-id-81 {
    max-height: 988px;
    overflow: hidden;
}

/*---RECIPES---*/

.page-id-152, .page-id-169, .page-id-171, .page-id-167 {
    max-height: 1070px;
    overflow: hidden;
}

/*---OTHER RECIPES---*/

.page-id-255 {
    max-height: 920px;
    overflow: hidden;
}

/*---END---*/

/*---RESPONSIVIDADE---*/

@media screen and (max-width: 520px) {
    #lsi_widget-7 {
        margin-top: 5% !important;
    }
    #media_image-5 {
        margin-top: 5% !important;
    }
    #part1 {
        padding-bottom: 5%;
    }
    #part2-pictures {
        width: auto;
        margin-top: 3%;
        margin-left: 18% !important;
        height: 220px;
    }
    #video-button {
        margin-top: 7% !important;
    }
    #part3-wrapper {
        height: auto !important;
    }
    #part3-pictures {
        margin-left: 18% !important;
        margin-bottom: 0 !important;
        height: 240px;
    }
    #text3 {
        margin-bottom: 18%;
    }
    #button3 {
        text-align: center;
        margin-top: 0;
    }
    #button4 {
        text-align: center;
    }
    #zoom-social-icons-widget-3 {
        margin-top: auto !important;
    }
    #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #zoom-social-icons-widget-3 {
        text-align: center;
    }
    .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
        max-height: auto !important;
    }
    .parent {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #grey-bg {
        top: 800px !important;
        height: 680px !important;
    }
    #thename {
        padding-top: 460px !important;
        width: 94% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .page-id-13 #wpforms-submit-511 {
        margin-left: 40% !important;
    }

    .page-id-2 .buttons, .description {
        text-align: center !important;
    }

    .page-id-2 .side-text {
        position: relative;
        bottom: auto;
    }

    .page-id-2 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4 {
        text-align: center !important;
        height: 160px !important;
    }
}

@media screen and (min-width: 521px) and (max-width: 1023px) {
    #grey-bg {
        height: 800px !important;
        top: 800px !important;
    }
    #images {
        height: 400px;
        margin-top: 10px !important;
    }
    #footer .col {
        padding-top: 20%;
    }
    #part-1 .cols-wrapper {
        margin: 9% !important;
    }
    .parent {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #video-button {
        margin-top: 18%;
    }
    #part2-wrapper, #part3-wrapper {
        margin-left: 4% !important;
        margin-right: 4% !important;
        height: auto;
    }
    #part2-text {
        width: 28.5%;
    }
    #part2-pictures {
        width: auto;
        margin-top: 32%;
    }
    #part3-text {
        width: 38%;
        margin-left: 4% !important;
    }
    #part3-pictures {
        margin-top: 17%;
    }
    #button3 {
        margin-top: 7%;
    }
    #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #zoom-social-icons-widget-3 {
        text-align: center;
    }
    .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
        max-height: auto !important;
    }
    .parent {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .page-id-13 #wpforms-submit-511 {
        margin-left: 80% !important;
    }
}

/*---END RESPONSIVIDADE---*/

.icon-circle {
    display: none;
}

.pg-pagination {
    display: none;
}

.pg-items-wrapper {
    margin-bottom: 3%;
}

a {
    color: inherit;
}