/*---CUSTOM FONTS---*/

.body-title {
  font-family: 'geomanist-black';
  color: #490d67;
  font-size: 34pt;
  line-height: 90%;
  padding-top: 50px;
  margin-bottom: 40px;
}

.body-content {
  font-family: 'geomanist-regular';
  color: #645d67;
}

.cs-title {
  font-family: 'geomanist-black';
  line-height: 90%;
}

.slider-description {
  font-family: 'geomanist-regular';
  line-height: 120%;
  letter-spacing: 5pt;
  margin-top: 5%;
  margin-bottom: 3%;
}

.section-header {
  font-family: 'geomanist-bold';
}

.footer-box .widget_text .h4 {
  font-family: 'geomanist-medium';
}

.textwidget {
  font-family: 'geomanist-extralight';
}

#pre-footer .p {
  font-size: 11pt;
}

#media_image-3 {
  text-align: center;
}

/*---SLIDER BUTTONS + ARROWS---*/

/*---BUTTONS---*/

.nivo-controlNav a {
  border: 2px solid #490d67;
  background: #490d67
}

.nivo-controlNav a.active {
  border: 2px solid #490d67
}

/*---ARROWS---*/

.cs-arrows {
  color: #ffffff;
  background-color: #ffffff00;
}

.cs-arrows:hover {
  color: #ffffff;
  background-color: #490d6770;
}

.controlArrow.prev, .controlArrow.next {
  background-color: #490d6750;
}

.controlArrow.prev:hover, .controlArrow.next:hover {
  background-color: #490d67;
}

/*---FADE SLIDER CONTROLS---*/

.nivo-controlNav {
  transform: rotatez(90deg);
  left: 45%;
  bottom: 50%;
}

/*---MENU---*/

#menu-item-593 .sub-menu {
  width: 230px;
}

.social-icons li {
  margin-right: 5px;
}

/*---CUSTOM CLASSES---*/

.products-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 10px;
}

.product-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.product-picture {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: flex-end;
}

.product-data {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.product-button {
  font-family: 'geomanist-medium';
  font-size: 8pt;
  line-height: 1.5;
  border: 1px solid;
  border-style: solid;
  border-radius: 5px;
  border-color: #645d67;
  color: #645d67;
  background-color: #ffffff00;
  width: 215px;
  height: 55px;
  padding: 0 9px;
  margin-bottom: 1px;
}

.recipe-button {
  font-family: 'geomanist-medium';
  font-size: 8pt;
  border: 1px solid;
  border-style: solid;
  border-radius: 5px;
  border-color: #645d67;
  color: #645d67;
  background-color: #ffffff00;
  width: 145px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.product-button:hover, .recipe-button:hover {
  background-color: #490d67 !important;
  color: white;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

footer#footer {
  display: none;
}
#zoom-social-icons-widget-11 ul {
 text-align: right; 
}
#media_image-5 {
  margin-top: 0 !important;
}
#media_image-5 img {
  max-width: 900px !important;
}
.footer-creditibility {
  background-color: #490d67;
}
#copyright-text {
  display: flex; 
  align-items: center; 
  justify-content: flex-end;
  color: white;
  font-family: geomanist-light;
  font-weight: 100;
}
/*---END---*/

/*---HOME---*/

.page-id-20 #section-1,
.page-id-865 #section-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.page-id-20 #content-container .section-boxed,
.page-id-865 #content-container .section-boxed {
  margin: 0px auto;
}

.page-id-20 .section-boxed,
.page-id-865 .section-boxed {
  max-width: 100% !important;
}

.home-buttons {
  display: flex;
  flex: 1;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
  text-align: center;
}

.stamps {
  display: flex;
  flex: 1
}

/*---HOME-SLIDER---*/

.page-id-20 .content-slider-wrapper,
.page-id-865 .content-slider-wrapper {
  height: 835px;
}

.page-id-20 .content-slider,
.page-id-865 .content-slider {
  padding-top: 290px;
}

.page-id-20 #cs-slider-ul .button,
.page-id-865 #cs-slider-ul .button {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
  padding-top: 18px;
  padding-bottom: 10px;
  height: 30px;
  font-family: 'geomanist-bold';
  letter-spacing: 2pt;
}

.page-id-20 #slider-content-5 .button,
.page-id-865 #slider-content-5 .button {
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'geomanist-bold';
}

.page-id-20 #cs-slider-ul .button:hover,
.page-id-865 #cs-slider-ul .button:hover {
  background-color: #490d67;
}

.page-id-20 #part1 .col,
.page-id-865 #part1 .col {
  float: unset;
}

#part2-wrapper {
  margin-left: 9%;
  margin-right: 9%;
  min-height: 815px;
}

#part2-text {
  width: 19.8%;
  margin-top: 2%;
  margin-right: 5%;
}

#part2-pictures {
  width: 75%;
  height: auto;
  margin-top: 2.6%;
}

#video-button {
  margin-top: 20%;
}

#part3-wrapper {
  margin-left: 9%;
  margin-right: 9%;
  height: 1075px;
}

#part3-text {
  width: 42%;
  position: absolute;
  z-index: 50;
}

#title3 {
  width: 40%;
}

#button3 {
  margin-top: 5%;
}

#pictures3-under {
  position: absolute;
  z-index: 0;
  width: 65%;
  margin-left: 10%;
  margin-top: 155px;
}

#part4 {
  display: flex; 
  align-items: center; 
  background-color: #ededee; 
  padding: 0 9%; 
}
#part4-left-wrapper {
  display: flex; 
  flex: 2; 
  flex-direction: column;
}
#part4-text h4,
#part4-text p {
  width: 80%;
}
.custom-form-input input {
  border-radius: 5px !important;
  font-family: geomanist-light !important;
}
.custom-form-input label {
  font-family: geomanist-bold; 
}
#wpforms-submit-674,
#wpforms-submit-873 {
  font-family: geomanist-medium;
  font-size: 8pt;
  line-height: 1.5;
  border-radius: 5px;
  color: #645d67;
}
#wpforms-submit-674:hover,
#wpforms-submit-873:hover {
  color: white;
}
#part4-img {
  display: flex; 
  flex: 1;
  padding: 75px;
}

/*---END---*/

/*---STORY---*/

.page-id-8 #section-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px !important;
}

.page-id-8 #content-container .section-boxed {
  margin: 0px auto;
}

.page-id-8 .section-boxed {
  max-width: 100% !important;
}

.page-id-8 #part1 {
  margin-left: 6.6%;
  margin-right: 6.6%;
}

.page-id-8 #text1 {
  width: 33%;
  margin-left: 14%;
  margin-top: 6%;
}

.page-id-8 #part1 #img1 {
  width: fit-content;
  margin-left: 5%;
  margin-top: 5%;
}

.page-id-8 #part2 {
  min-height: 960px;
}

.page-id-8 #images {
  position: relative;
  width: 53.4%;
  margin-right: 0px;
}

.page-id-8 #image-1 {
  margin-left: 35%;
  margin-top: 0px;
  position: absolute;
  z-index: 3;
}

.page-id-8 #image-2 {
  position: absolute;
  z-index: 2;
  padding-top: 35%;
  margin: 0px auto;
}

.page-id-8 #thename {
  padding-top: 11.8%;
  width: 19%;
  margin-left: 6.6%;
  position: relative;
  z-index: 5;
}

.page-id-8 #pre-footer {
  background-color: #f1f1f1;
  height: auto;
  min-height: 375px;
  padding-top: 2%;
  text-align: center;
}

.page-id-8 #pre-footer .body-content {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-id-8 #pre-footer-cols {
  padding-top: 1%;
  text-align: left;
  margin-left: 6.6%;
  margin-right: 6.6%;
}

.page-id-8 #mission {
  margin-left: 13%;
  width: 19%;
}

.page-id-8 #vision, #value {
  width: 19.2%;
  margin-left: 5.3%;
}

.page-id-8 #grey-bg {
  position: absolute;
  top: 1050px;
  bottom: 0px;
  width: 100%;
  height: 435px;
  background-color: #f1f1f1;
  z-index: 1;
}

/*---STORY-SLIDER---*/

.page-id-8 #content-slider-8 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-id-8 .cs-content-left, .cs-content-right, .cs-content-centered {
  margin-top: 10%;
  margin-left: 6.5%;
}

/*---END---*/

/*---CONTACT-US---*/

#distributor-contact input, #distributor-contact textarea, #consumer-contact input, #consumer-contact textarea {
  border-radius: 5px;
}

.page-id-13 #wpforms-511, #wpforms-608 {
  font-family: geomanist-light;
}

.page-id-13 #wpforms-511-field_0, #wpforms-511-field_1, #wpforms-511-field_2, #wpforms-511-field_4, #wpforms-608-field_0, #wpforms-608-field_4, #wpforms-608-field_1, #wpforms-608-field_5, #wpforms-608-field_6, #wpforms-608-field_2 {
  font-family: geomanist-light;
}

/*message*/

.page-id-13 #wpforms-511-field_2-container, #wpforms-608-field_2-container {
  padding-left: 10.5%;
  padding-right: 7.24%;
}

/*email*/

.page-id-13 #wpforms-511-field_1-container, #wpforms-608-field_1-container {
  padding-left: 10.5%;
  padding-right: 10.5%;
}

/*name / nationality*/

.page-id-13 #wpforms-511-field_0-container, #wpforms-608-field_0-container, #wpforms-608-field_5-container {
  padding-left: 10.5%;
}

/*phone / company*/

.page-id-13 #wpforms-511-field_4-container, #wpforms-608-field_4-container, #wpforms-608-field_6-container {
  padding-right: 10.5%;
}

.page-id-13 #wpforms-submit-511, .page-id-13 #wpforms-submit-608 {
  margin-left: 81%;
  font-family: geomanist-bold;
  color: #ffffff;
  background-color: #490d67;
  border-radius: 5px;
}

.page-id-13 #wpforms-confirmation-511, .page-id-13 #wpforms-confirmation-608 {
  color: #f1f1f1;
  background-color: #490d6770;
  border: 1px solid #490d67;
  font-family: geomanist-light;
  text-align: center;
  border-radius: 5px;
}

.page-id-13 #consumer #banner {
  width: 100vw;
  margin-left: -14.7%;
}

.page-id-13 #info {
  margin-top: 100px;
  margin-bottom: 50px;
}

.page-id-13 #info #text {
  width: 31.4%;
  margin-left: 14%;
  margin-top: 6%;
}

.page-id-13 #info #logo {
  text-align: center;
  margin-left: 15%;
  width: fit-content;
}

/*---CONTACT-US-SLIDER---*/

.page-id-13 #content-slider-13 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-id-13 .cs-content-left, .cs-content-right, .cs-content-centered {
  margin-top: 10%;
}

/*---ALL-PRODUCTS---*/
.page-id-2 #products-content-wrapper,
.page-id-870 #products-content-wrapper {
  display: flex;
  flex: 1;
}
.page-id-2 .products-column,
.page-id-870 .products-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 10px;
}
.page-id-2 .product-cell,
.page-id-870 .product-cell {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-height: 300px;
  margin: 10px 0;
}
.page-id-2 .product-picture,
.page-id-870 .product-picture {
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  margin: 0 10px;
}
.page-id-2 .product-data,
.page-id-870 .product-data {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.page-id-2 .product-data h4,
.page-id-870 .product-data h4 {
  font-family: 'geomanist-black';
  color: #490d67;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 2px;
}
.page-id-2 .product-data button,
.page-id-870 .product-data button {
  height: auto;
  width: auto;
  padding: 20px 30px;
}
/*---END---*/

/*---EDUCATIONAL---*/
.page-id-700 #section-1 > div.content-slider-wrapper {
  max-height: 500px;
}
.page-id-700 #content-slider-700 > div {
  padding-top: 100px;
}
.page-id-700 #slider-content-1 > div.cs-content-left.col.cs-content > h2,
.page-id-700 #slider-content-1 > div.cs-content-left.col.cs-content > p {
  color: #490d67;
}
.page-id-700 #section-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.page-id-700 #content-container .section-boxed {
  margin: 0px auto;
}
.page-id-700 .section-boxed {
  max-width: 100% !important;
}

#educational-img {
  margin-top: 0;
}

/*---VIDEOS-RECIPES---*/
.page-id-11 #slider-container {
  max-height: 540px;
}
.page-id-11 #content-slider-11 > div {
  padding-top: 150px;
}
/*---FOOTER---*/

#sfwa_footer, #sfwa_footer * {
  box-sizing: unset;
}

.footer-bottom {
  display: flex;
  flex: 3;
}

/* #zoom-social-icons-widget-3 {
  margin-top: 35%;
} */

#zoom-social-icons-widget-7 {
  margin-top: 80px;
  text-align: center;
}

#media_image-5 {
  text-align: center;
  margin-top: 25%;
}

.footer-send-email:hover {
  color: white;
}

/*---END---*/

/*---ACERTOS OVERFLOW---*/

/*---PRODUCTS---*/

.page-id-107, .page-id-109, .page-id-81 {
  max-height: 988px;
  overflow: hidden;
}

/*---RECIPES---*/

/* .page-id-152, .page-id-169, .page-id-171, .page-id-167 {
  max-height: 1070px;
  overflow: hidden;
} */

/*---OTHER RECIPES---*/

.page-id-255 {
  max-height: 920px;
  overflow: hidden;
}

/*---END---*/

/*---RESPONSIVIDADE---*/

/*---RESPONSIVIDADE-MOBILE---*/

/*Smartphone S*/

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  /*home*/
  #lsi_widget-7 {
    margin-top: 5% !important;
  }
  /*-part1*/
  #part1 {
    padding-bottom: 5%;
  }
  .recipe-button, .product-button {
    height: 49px;
  }
  .page-id-20 #part3,
  .page-id-865 #part3 {
    height: 1100px;
  }
  /*-part2*/
  #part2-pictures {
    width: auto;
    margin-top: 3%;
    margin-left: 18% !important;
    height: 220px;
  }
  #video-button {
    margin-top: 7% !important;
  }
  /*-part3*/
  #part3-wrapper {
    height: auto !important;
  }
  #part3-text {
    position: unset;
  }
  #part3-text #button3 button, #part3-text #button4 button {
    width: 75vw !important;
  }
  #part3-pictures {
    margin-left: 18% !important;
    margin-bottom: 0 !important;
  }
  #part3-pictures #pictures3-under {
    width: 90vw;
    margin-top: 35px;
    margin-left: -18%;
  }
  #text3 {
    margin-bottom: 18%;
  }
  #button3 {
    text-align: center;
    margin-top: 0;
  }
  #button4 {
    text-align: center;
  }
  /*footer*/
  #media_image-5 {
    margin-top: 5% !important;
  }
  #zoom-social-icons-widget-3 {
    margin-top: auto !important;
  }
  #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #custom_html-9, #zoom-social-icons-widget-3 {
    text-align: center;
  }
  /*outras páginas*/
  /*-products*/
  .page-id-2 .buttons, .description,
  .page-id-870 .buttons, .description {
    text-align: center !important;
  }
  .page-id-2 .side-text,
  .page-id-870 .side-text {
    position: relative;
    bottom: auto;
  }
  .page-id-2 .usda-logo,
  .page-id-870 .usda-logo {
    float: unset;
  }
  .page-id-2 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4,
  .page-id-870 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4 {
    text-align: center !important;
    height: 160px !important;
  }
  .page-id-2 #part1 .cols-wrapper .parent,
  .page-id-870 #part1 .cols-wrapper .parent {
    height: 1200px;
  }
  .page-id-2 .parent,
  .page-id-870 .parent {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 1270px;
  }
  /*--smoothie, powder, puree*/
  .page-id-81 #full-with, .page-id-107 #full-width, .page-id-109 #full-width {
    height: 140px;
    min-height: unset;
  }
  /*-story*/
  #grey-bg {
    top: 1160px !important;
    height: 680px !important;
  }
  #thename {
    padding-top: 460px !important;
    width: 94% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  /*-contact us*/
  .page-id-13 .wpforms-submit-container {
    width: 85%;
  }
  .page-id-13 #consumer #banner {
    margin-left: -3.3%;
    margin-top: 90px;
  }
  .page-id-13 #info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-id-13 #wpforms-511 {
    margin-bottom: 70px;
  }
  /*-recipes*/
  .page-id-11 .content-boxed {
    height: 900px;
  }
  /*--other recipes*/
  .page-id-255 #full-width {
    height: 128px;
  }
  /*--classic-bowl, classic-smoothie, extra healthy, fresh bowl*/
  .page-id-152 #full-with, .page-id-169 #full-width, .page-id-171 #full-width, .page-id-167 #full-width {
    height: 160px;
    min-height: unset;
  }
  .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
    max-height: fit-content;
  }
}

/*Smartphone M*/

@media only screen and (min-device-width: 375px) and (max-device-width: 424px) {
  /*home*/
  #lsi_widget-7 {
    margin-top: 5% !important;
  }
  /*-part1*/
  #part1 {
    padding-bottom: 5%;
  }
  .recipe-button, .product-button {
    height: 49px;
  }
  .page-id-20 #part3,
  .page-id-865 #part3 {
    height: 1100px;
  }
  /*-part2*/
  #part2-pictures {
    width: auto;
    margin-top: 3%;
    margin-left: 18% !important;
    height: 220px;
  }
  #video-button {
    margin-top: 7% !important;
  }
  /*-part3*/
  #part3-wrapper {
    height: auto !important;
  }
  #part3-text {
    position: unset;
  }
  #part3-text #button3 button, #part3-text #button4 button {
    width: 75vw !important;
  }
  #part3-pictures {
    margin-left: 18% !important;
    margin-bottom: 0 !important;
  }
  #part3-pictures #pictures3-under {
    width: 90vw;
    margin-top: 35px;
    margin-left: -18%;
  }
  #text3 {
    margin-bottom: 18%;
  }
  #button3 {
    text-align: center;
    margin-top: 0;
  }
  #button4 {
    text-align: center;
  }
  /*footer*/
  #media_image-5 {
    margin-top: 5% !important;
  }
  #zoom-social-icons-widget-3 {
    margin-top: auto !important;
  }
  #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #custom_html-9, #zoom-social-icons-widget-3 {
    text-align: center;
  }
  /*outras páginas*/
  /*-products*/
  .page-id-2 .buttons, .description,
  .page-id-870 .buttons, .description {
    text-align: center !important;
  }
  .page-id-2 .side-text,
  .page-id-870 .side-text {
    position: relative;
    bottom: auto;
  }
  .page-id-2 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4,
  .page-id-870 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4 {
    text-align: center !important;
    height: 160px !important;
  }
  .page-id-2 #part1 .cols-wrapper .parent,
  .page-id-870 #part1 .cols-wrapper .parent {
    height: 1200px;
  }
  .page-id-2 .parent,
  .page-id-870 .parent {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 1285px;
  }
  .page-id-2 .usda-logo,
  .page-id-870 .usda-logo {
    float: unset;
  }
  /*--smoothie, powder, puree*/
  .page-id-81 #full-with, .page-id-107 #full-width, .page-id-109 #full-width {
    height: 165px;
    min-height: unset;
  }
  /*-story*/
  #grey-bg {
    top: 1160px !important;
    height: 680px !important;
  }
  #thename {
    padding-top: 460px !important;
    width: 94% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  /*-contact us*/
  .page-id-13 .wpforms-submit-container {
    width: 85%;
  }
  .page-id-13 #consumer #banner {
    margin-left: -3.3%;
    margin-top: 90px;
  }
  .page-id-13 #info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-id-13 #wpforms-511 {
    margin-bottom: 70px;
  }
  /*-recipes*/
  .page-id-11 .content-boxed {
    height: 900px;
  }
  /*--other recipes*/
  .page-id-255 #full-width {
    height: 128px;
  }
  /*--classic-bowl, classic-smoothie, extra healthy, fresh bowl*/
  .page-id-152 #full-with, .page-id-169 #full-width, .page-id-171 #full-width, .page-id-167 #full-width {
    height: 187px;
    min-height: unset;
  }
  .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
    max-height: fit-content;
  }
}

/*Smartphone L*/

@media only screen and (min-device-width: 425px) and (max-device-width: 480px) {
  /*home*/
  #lsi_widget-7 {
    margin-top: 5% !important;
  }
  /*-part1*/
  #part1 {
    padding-bottom: 5%;
  }
  .recipe-button, .product-button {
    height: 49px;
  }
  .page-id-20 #part3,
  .page-id-865 #part3 {
    height: 1100px;
  }
  /*-part2*/
  #part2-pictures {
    width: auto;
    margin-top: 3%;
    margin-left: 18% !important;
    height: 220px;
  }
  #video-button {
    margin-top: 7% !important;
  }
  /*-part3*/
  #part3-wrapper {
    height: auto !important;
  }
  #part3-text {
    position: unset;
  }
  #part3-text #button3 button, #part3-text #button4 button {
    width: 75vw !important;
  }
  #part3-pictures {
    margin-left: 18% !important;
    margin-bottom: 0 !important;
  }
  #part3-pictures #pictures3-under {
    width: 90vw;
    margin-top: 35px;
    margin-left: -18%;
  }
  #text3 {
    margin-bottom: 18%;
  }
  #button3 {
    text-align: center;
    margin-top: 0;
  }
  #button4 {
    text-align: center;
  }
  /*footer*/
  #media_image-5 {
    margin-top: 5% !important;
  }
  #zoom-social-icons-widget-3 {
    margin-top: auto !important;
  }
  #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #custom_html-9, #zoom-social-icons-widget-3 {
    text-align: center;
  }
  /*outras páginas*/
  /*-products*/
  .page-id-2 .buttons, .description,
  .page-id-870 .buttons, .description {
    text-align: center !important;
  }
  .page-id-2 .side-text,
  .page-id-870 .side-text {
    position: relative;
    bottom: auto;
  }
  .page-id-2 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4,
  .page-id-870 #text1, .page-id-2 #tex2, .page-id-2 #text3, .page-id-2 #text4 {
    text-align: center !important;
    height: 160px !important;
  }
  .page-id-2 #part1 .cols-wrapper .parent,
  .page-id-870 #part1 .cols-wrapper .parent {
    height: 1200px;
  }
  .page-id-2 .parent,
  .page-id-870 .parent {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 1300px;
  }
  .page-id-2 .usda-logo,
  .page-id-870 .usda-logo {
    float: unset;
  }
  /*--smoothie, powder, puree*/
  .page-id-81 #full-with, .page-id-107 #full-width, .page-id-109 #full-width {
    height: 190px;
    min-height: unset;
  }
  /*-story*/
  #grey-bg {
    top: 1160px !important;
    height: 680px !important;
  }
  #thename {
    padding-top: 460px !important;
    width: 94% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  /*-contact us*/
  .page-id-13 .wpforms-submit-container {
    width: 85%;
  }
  .page-id-13 #consumer #banner {
    margin-left: -3.3%;
    margin-top: 90px;
  }
  .page-id-13 #info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-id-13 #wpforms-511 {
    margin-bottom: 70px;
  }
  /*-recipes*/
  .page-id-11 .content-boxed {
    height: 900px;
  }
  /*--other recipes*/
  .page-id-255 #full-width {
    height: 128px;
  }
  /*--classic-bowl, classic-smoothie, extra healthy, fresh bowl*/
  .page-id-152 #full-with, .page-id-169 #full-width, .page-id-171 #full-width, .page-id-167 #full-width {
    height: 214px;
    min-height: unset;
  }
  .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
    max-height: fit-content;
  }
}

/*iPad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #full-width {
    min-height: unset;
  }
  /*-home*/
  .page-id-20 #part1 .cols-4 .col,
  .page-id-865 #part1 .cols-4 .col {
    margin-right: 2% !important;
  }
  .page-id-20 #video-button,
  .page-id-865 #video-button {
    margin-top: 18%;
  }
  .page-id-20 #part2-wrapper,
  .page-id-865 #part2-wrapper, #part3-wrapper {
    margin-left: 4% !important;
    margin-right: 4% !important;
    height: 850px;
  }
  .page-id-20 #part2-text,
  .page-id-865 #part2-text {
    width: 28.5%;
  }
  .page-id-20 #part2-pictures,
  .page-id-865 #part2-pictures {
    width: auto;
    margin-top: 32%;
  }
  .page-id-20 #part3-text,
  .page-id-865 #part3-text {
    width: 38%;
    margin-left: 4% !important;
  }
  .page-id-20 #part3-pictures,
  .page-id-865 #part3-pictures {
    margin-top: 17%;
  }
  .page-id-20 #pictures3-under,
  .page-id-865 #pictures3-under {
    width: 75%;
    margin-left: 20%;
    margin-top: 200px;
  }
  .page-id-20 #button3,
  .page-id-865 #button3 {
    margin-top: 7%;
  }
  /*-products*/
  .page-id-2 .cols-4 .col,
  .page-id-870 .cols-4 .col {
    width: 23%;
    height: 280px !important;
  }
  .page-id-2 .side-text,
  .page-id-870 .side-text {
    bottom: 20%;
  }
  .page-id-2 .cols-4 .col:nth-of-type(3n),
  .page-id-870 .cols-4 .col:nth-of-type(3n) {
    margin-left: 3% !important;
  }
  .parent {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .page-id-13 #wpforms-submit-511 {
    margin-left: 80% !important;
  }
  /*--smoothie, powder, puree*/
  .page-id-81 #full-with, .page-id-107 #full-width, .page-id-109 #full-width {
    height: 345px;
  }
  /*--classic-bowl, classic-smoothie, extra healthy, fresh bowl*/
  .page-id-152 #full-with, .page-id-169 #full-width, .page-id-171 #full-width, .page-id-167 #full-width {
    height: 214px;
  }
  #images {
    height: 400px;
    margin-top: 10px !important;
  }
  #footer .col {
    padding-top: 20%;
  }
  #part-1 .cols-wrapper {
    margin: 9% !important;
  }
  .parent {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .page-id-107, .page-id-109, .page-id-81, .page-id-152, .page-id-169, .page-id-171, .page-id-167, .page-id-255 {
    max-height: fit-content;
  }
  /*-story*/
  .page-id-8 #part1 #img1 {
    margin-left: 0;
  }
  .page-id-8 #part1 #text1 {
    margin-left: 0;
    margin-right: 0;
  }
  .page-id-8 #part2 {
    height: 760px;
  }
  .page-id-8 #thename {
    width: 36%;
  }
  #grey-bg {
    height: 400px !important;
    top: 1045px !important;
  }
  .page-id-8 #mission {
    margin-left: 0;
    width: 30%;
  }
  .page-id-8 #vision, .page-id-8 #value {
    width: 26%;
    margin-right: 0;
    margin-left: 7%;
  }
  /*-contact us*/
  #consumer #banner {
    margin-left: -3.2%;
  }
  /*footer*/
  .sfwa_grid_six .footer-information .sfwa_row .sfwa_footer_area {
    width: 29%;
  }
  #media_image-5, #custom_html-3, #custom_html-5, #custom_html-6, #custom_html-9, #zoom-social-icons-widget-3 {
    text-align: center;
  }
}

/*---RESPONSIVIDADE-PC---*/

@media screen and (min-width: 1023px) and (max-width: 1280px) {
  /*-story*/
  .page-id-8 #grey-bg {
    top: 995px;
  }
  /*-contact us*/
  .page-id-13 #consumer #banner {
    margin-left: -3.35%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1367px) {
  /*-story*/
  .page-id-8 #grey-bg {
    top: 1030px;
  }
  /*-contact us*/
  .page-id-13 #consumer #banner {
    margin-left: -7.2%;
  }
}

@media screen and (min-width: 1368px) and (max-width: 1440px) {
  /*-home*/
  .page-id-20 #part1 .cols-4 .col,
  .page-id-865 #part1 .cols-4 .col {
    width: 24%;
  }
  /*-story*/
  .page-id-8 #grey-bg {
    top: 1030px;
  }
  /*-contact us*/
  .page-id-13 #consumer #banner {
    margin-left: -10%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  /*-home*/
  .page-id-20 #part1 .cols-4 .col,
  .page-id-865 #part1 .cols-4 .col {
    width: 18%;
  }
  #pictures2-over {
    margin-top: 20%;
  }
  .page-id-20 #part3 {
    height: 1250px;
  }
  /*-contact us*/
  .page-id-13 #consumer #banner {
    margin-left: -30%;
  }
}

/*---END RESPONSIVIDADE---*/

.icon-circle {
  display: none;
}

.pg-pagination {
  display: none;
}

.pg-items-wrapper {
  margin-bottom: 3%;
}

a {
  color: inherit;
}